<!DOCTYPE html>
</html>
    <head>
        <title>Online Recruitment System</title>
        
        
        <link href="/../css/style.css" rel="stylesheet">
        <script src="/../js/jquery-3.2.1.min.js"></script>
        <script src="/../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>

        <div id="wrapper">
            
            <div class="page-container">
                <%- include menu.ejs %>
            <div class="page-header bg-img" ><h2>Online Recruitment System</h2></div>
            
            <div class="data-header-btn">
             <button><%=page_title%> </button>
            </div>