        <div class="data-menu">
            <div class="data-btn">
                <button onClick="visitClient();">Client</button><button onClick="visitCandidate();">Candidate</button><button onClick="visitSchedule();">Schedule</button>
            </div>
        </div>
        