<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addCompany();">+ Add Company</button><button onClick="addCandidate();">+ Add Candidate</button><button onClick="addShedule();">+ Add Schedule</button>
         </div>
         <%- include comp_info.ejs %>
         <%- include cand_info.ejs %>
        
        </div>
        
<%- include layouts/footer.ejs %>
