<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addShedule();">+ Add Schedule</button>
         </div>
         <%- include schedule_info.ejs %>
         
        
        </div>
        
<%- include layouts/footer.ejs %>
